@model events.Models.EventItem


<li>@Model.Title : @Html.DisplayFor(item => Model.Price, Model.Price) <button class="btn btn-default" onclick="addToCart(@Model.ID)"><i class="glyphicon glyphicon-plus-sign"></i></button></li>

